
nav {
 
  background-color: rgb(79, 75, 75);
  color: white;
}
  

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
  width: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li:hover {
  background-color: rgb(59, 56, 56);
  cursor: pointer;
}

nav a {
  height: 100%;
  
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
}

.navbar li:first-child {
  margin-right: auto;
  align-items: center;
  width: auto;
  padding: 8px;
  background-color: rgb(79, 75, 75);
  
  
}

.navbar li {
  margin: 10px;

}





.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 68, 0, 0.566);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  font-size: 19px;
}

.sidebar li {
  width: 100%;
  display: flex;
  

}

.logo:hover {
  background-color: rgb(79, 75, 75);
}
.sidebar li:hover {
  background-color: rgba(255, 68, 0, 0.742);;
}

.menuButton {
  fill: orangered;
}

.menu {
  display: flex;
  width: 50px;
  align-items: center;
}

.close {
  display: flex;
  align-items: center;
}

.closeButton {
  fill: white;
}

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .grid-wrapper {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto; /* Allow rows to adjust height as needed */
    height: auto; /* Adjust height automatically */
}

/* Adjust spans to fit in single column */
.spanTwo, .spanThree {
    grid-column: span 1; /* Force single-column layout */
}
}

a {
  padding: 0;
}





@media(max-width: 485px) {
  .card {
    grid-column: 1 / span 2;
  }
}





























.information {
  display: grid;
  grid-template-rows: repeat(auto 1fr);
  justify-content: center;
  align-items: center;
}

.headerContainer {
  width: auto;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 15px;
}

.infoContainer {
  width: 80vw;
  margin-top: 0.5vh;
  margin-bottom: 20px;
}



a {
    text-decoration: none;
    
  }

  * {
    margin: 0;
    padding: 0;
  }



.logo {
    
    display: flex;
    font-size: 27px;
  
    
}
.logo1 {
  color: orangered;
}
.logo2 {
  margin-left: 16px;
  color: white;
}

body, html {
    
    padding: 0;
    margin: 0;
    background-color: rgb(243, 242, 242);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    

}

.contact {
    
    font-size: 25px;
    color: white;
    
}

.button {
    display: flex;
    width: 150px;
    height: 49px;
    background-color: #FF662D;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 10vw;
    max-width: 1px;
    

}



.footImg {
    height: 43px;
    width: 43px;
}

.linkWrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 200px;
}

.firstGrid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    width: 95vw;
    height: 398px;
    column-gap: 0;
    margin-left: 40px;   
}

.picture {
    height: 92%;
    width: 65%;
}

.gridImage {
    display: flex;
    justify-content: center;
    align-items: center;
}





*, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  
  img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
  }
  
  
  
  
  .card {
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    
    
  }
  
  
  
  .header-image {
    background-image: url('https://i.ibb.co/LQGyzVT/25-MG-8396.jpg');
  }
  
  .footer {
    background-image: url('https://i.ibb.co/CbndCvR/41-MG-8001.jpg');
  }
  
  
  .item-1 {
    background-image: url(https://i.ibb.co/cwvff7D/90-MG-6734.jpg);
  }
  
  .item-2 {
    background-image: url('https://i.ibb.co/x1b7t3J/88-MG-6878.jpg');
  }
  
  .item-3 {
    background-image: url('https://i.ibb.co/CvN0nyS/86-MG-6986.jpg');
  }
  
  .item-4 {
    background-image: url('https://i.ibb.co/bJD1rzj/85-MG-7040.jpg');
  }
  
  .item-5 {
    background-image: url('https://i.ibb.co/t3D2Tkm/84-MG-7057.jpg');
  }
  
  .item-6 {
    background-image: url('https://i.ibb.co/PYVq121/83-MG-7083.jpg');
  }
  
  .item-7 {
    background-image: url('https://i.ibb.co/hL0pMcJ/44-MG-7932.jpg');
  }
  
  .item-8 {
    background-image: url('https://i.ibb.co/9W0sWtC/82-MG-7136.jpg');
  }

  .item-9 {
    background-image: url('https://i.ibb.co/hL0pMcJ/44-MG-7932.jpg');
  }
  
  .item-10 {
    background-image: url('https://i.ibb.co/98m2V9q/38-MG-8080.jpg');
  }
  
  .item-11 {
    background-image: url('https://i.ibb.co/b2DZXH3/34-MG-8129.jpg');
  }

  .item-12 {
    background-image: url('https://i.ibb.co/XFyPfnY/12-MG-8627.jpg');
  }
  
  .item-13 {
    background-image: url('https://i.ibb.co/sj3nJZ2/39-MG-8049.jpg');
  }
  
  .item-14 {
    background-image: url('/Website/Images/lightroom/87-_MG_6915.jpg');
  }

  .item-15 {
    background-image: url('https://i.ibb.co/cwvff7D/90-MG-6734.jpg');
  }
  
  .item-16 {
    background-image: url('https://i.ibb.co/FJ8PZDT/91-MG-6578.jpg');
  }
  
  .item-17 {
    background-image: url('https://i.ibb.co/zQvbw9D/92-MG-6565.jpg');
  }
  
  .header {
    background-image: url('https://i.ibb.co/LQGyzVT/25-MG-8396.jpg');
  }
  
  
  
  
  .hero,
  .lrg,
  .med,
  .sm {
    height: 100%;
  }
  
 
  .card {
    margin: 0px;
  }
  
  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(260px, 1fr)); 
    display: grid;
    height: 2000em;
    justify-content: center;
    align-content: end;
    grid-gap: 3px;
    padding: 0px;
    grid-auto-flow: dense;
    
  }
  
  .spanTwo  {
    grid-column: 1 / span 2;
  }

  .spanThree {
    grid-column: 1 / span 3;
  }

  .textContainer {
   color: black;
   background: rgb(243, 242, 242);
   height: 8%;
   width: auto;
   max-width: 100%;
   overflow: hidden;
   min-width: 260px;
   
  }


    
  
  
